.footer {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}


.footer_copy {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;
color: #FFFFFF;
}