.hero {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 20px;
    flex-direction: column;
  }
  
  .hero__texts {
    /* width: 55%; */
  }
  
  .hero__text {
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
  }
  .hero__title {
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 78px;
  color: #FFFFFF;
  
  }
  .hero__name {
    color: #FBFF22;
  }
  .hero__prof {
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #999999;
  }
  
  .hero__line {
    width: 76px;
    height: 3px;
    display: block;
    background-color: magenta;
    border-radius: 2px;
  }
  
  .hero__description {
    font-family: 'Poppins';
  font-style: normal;
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  color: #999999;
  }

  .hero__cv-link {
    text-decoration: none;
  }
  
  .hero__cv-button {
    padding: 1vmin;
    display: inline-flex;
    gap: 10px;
    cursor: pointer;
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: calc(12px + 1vmin);
  line-height: 30px;
  background-color: #FBFF22;
  align-items: center;
  text-align: justify;
  border: 0;
  border-radius: 5px;
  color: #000000;
  }
  
  
  .hero__wrapper {
    position: relative;
      display: flex;
      width: 35%;
      /* height: 35%; */
      float: right;
    margin-left: 5vmin;
    margin-bottom: 2vmin;
  }
  
  .hero__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .hero__img-wrapper {
    position: absolute;
      width: 100%;
      height: 100%;
      top: 3%;
      left: -2%;
      border-radius: 50%;
      border: 1px solid #FBFF22;
      animation: spin 30s  infinite;
  }

  .hero__img-plus {
    background-image: url('../../images/hero__plus.svg');
    position: absolute;
    width: 15%;
    height: 15%;
    top: 2%;
    right: 2%;
    background-size: contain;
    background-repeat: no-repeat;
    /* animation: antSpin 4s linear infinite; */
  }

  .hero__img-slash {
    background-image: url('../../images/hero_slash.svg');
    position: absolute;
    width: 25%;
    height: 15%;
    bottom: 0;
    left: -1%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  @media screen and (max-width: 768px) {
    .hero__wrapper {
      width: 50%;
    }
  }

  /* @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } } */
@keyframes spin {
  0% {
  transform: rotate(0);
}
  100% {
  transform: rotate(360deg);
} }
/* @keyframes antSpin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }  */