.projects__title-wrapper {
    display: flex;
    position: relative;
    justify-content: center;
      align-items: center;
  }
  
  .projects__title {
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  position: absolute;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #FBFF22;
  }
  
  .projects__title-back {
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 190px;
  line-height: 300px;
  display: flex;
  align-items: center;
  text-align: center;
  -webkit-text-stroke: 2px black;
  color: transparent;
  
  }
  
  .projects {
    display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
  }

  .projects__wrapper {
    display: grid;
    /* grid-auto-flow: column; */
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(1, 300px); */
    gap: 2vmin;
  }
  
  .project {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    padding: 1%;
    padding: .5rem .5rem;
    justify-content: space-between;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    box-shadow: 1px -1px 3px #fbff23;
  }
  
  .project__img {
    width: 55%;
    object-fit: contain;
    border-radius: 10px;
  }
  
  .project__desc {
    display: flex;
    width: 40%;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    justify-content: center;
  }
  
  .project__title {
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  color: #FFFFFF;
  }
  
  .project__button {
    width: 100%;
    height: 20%;
    background: #FBFF22;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    border: 0.05rem solid #fff;
  }
  
  .project__button:hover::before {
    opacity: 1;
    z-index: 1;
    top: 0.8rem;
    left: -0.8rem;
    transition: all .2s ease-in .2s;
    content: '';
      position: absolute;
      border-radius: 5px;
      width: 100%;
      z-index: -1;
      height: 100%;
      border: 0.05rem solid #FBFF22;
      transition: all .8s ease-in;
  }
  
  .projects__page-wrapper {
    margin-top: 30px;
    display: flex;
    gap: 5px;
    color: #FFFFFF;
  }
  
  .projects__page {
    border: 1px solid rgb(194, 194, 194);
    padding: 10px;
    cursor: pointer;
  }
  
  .projects__page-current {
    border: 2px solid #FBFF22;
    font-weight: bold;
  }


  @media screen and (max-width: 1024px) {
    .projects__title-back {
        font-size: 16vmin;
        line-height: 30vmin;
    }
    
  }


  @media screen and (max-width:768px) {

    .project {
        gap: 25px;
    padding: 8px;
    max-width: 90%;
    }
    .project__img {
        width: 50%;
    }

    .project__desc {
        gap: 15px;
        width: 50%;
    }

    .project__title {
        font-size: 20px;
        line-height: 30px;
    }

    .project__button {
        width: 100%;
        height: 20%;
        font-size: 12px;
    }


    
  }